@import "/bootstrap-5.3.3-dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Colores
$primary: #5265E1; // Color principal
$secondary: #FA5959; // Color secundary
$font-title: #080239;
$font-text: #898989;;

// Fontes
$principal: "Rubik", sans-serif;

// Padding & Margin
.container {
  padding: 2rem 1.2rem;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  color: $font-text;
}

// Botones

.btn-primary {
  background-color: $primary;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  color: white;
  box-shadow: 0 .5rem 1rem rgba($primary, .15);
}

.btn-primary:hover {
  border: 2px solid $primary;
  background-color: transparent;
  color: $primary;
}

.btn-danger {
  background-color: $secondary;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
}

.btn-danger:hover {
  border: 2px solid $secondary;
  background-color: white;
  color: $secondary;
  font-weight: 500;
}

.btn-grey {
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #f1e1e1ad;
  font-weight: 500;
  color: #707070;
  padding: 0.8rem 1.6rem; 
}

.btn-grey:hover {
  border: 2px solid $font-text;
  background-color: transparent;
}

// Titulo y texto - Section

.title-section, .subtitle-section {
  color: $font-title;
  font-weight: 600;
  letter-spacing: 0.0.8rem;
  line-height: 1.1;
}

.title-section {
  font-size: 3rem;
}

.subtitle-section {
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
}

.text-section {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subtext-section {
  font-size: 1rem;
  line-height: 1.5;
}

// Nav

.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-link:hover {
  color: $secondary;
}


// Hero

.container-hero {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
}

.rectangulo {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 800px;
  height: 300px;
  background-color: rgba(82, 101, 225);
  border-radius: 150px;
  z-index: 1;
}

.image {
display: block;
  max-width: 36rem;
  height: auto; 
  z-index: 0;
}

// Tabs

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:active {
  color: $font-text;
  background-color: transparent;
  // border-color: transparent transparent $secondary;
  border-bottom: 4px solid !important;
  font-size: 1rem;
  // font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  // border: 1px solid transparent;
  // border-top-left-radius: .25rem;
  // border-top-right-radius: .25rem;
  color: $font-text;
  font-size: 20px;
}

// Cards

.card {
  display: flex;
  align-items: center;
  padding: 0rem;
  border: none;
  border-radius: 15px;
  width: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.card-img-top {
  width: 5rem;
}

.card-title {
  font-size: 1.1rem;
  color: $font-title;
}

.card-text {
  font-size: 0.9rem;
  color: $font-text;
  margin-bottom: 1rem;
}

// FAQ

.container-faq {
  margin-top: 10rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-item {
  border: none;
  width: 620px;
}

.accordion-button {
  border-bottom: 0.1rem solid rgba(215, 215, 215, 0.7);
}

.accordion-button {
  font-size: 0.9rem;
  color: $font-title;
}

.accordion-button:hover {
  color: $secondary;
}

.accordion-button:not(.collapsed), .accordion-button:focus {
  background-color: white;
  box-shadow: none;
}

.accordion-body {
  color: $font-text;
  font-size: 0.9rem;
  line-height: 1.8;
}

// Form

.form-container {
  background-color: $primary;
  color: white;
}

.form-control {
  width: 50%;
}

.form-text {
  color: white;
  letter-spacing: 0.6rem;
}

// Footer

.footer {
  background-color: $font-title;
  color: white;
}