@import "/bootstrap-5.3.3-dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.container {
  padding: 4rem 1.2rem;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  color: #898989;
}

.btn-primary {
  background-color: #5265E1;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(82, 101, 225, 0.15);
}

.btn-primary:hover, .btn-primary:active {
  border: 2px solid #5265E1;
  background-color: transparent;
  color: #5265E1;
}

.btn-danger {
  background-color: #FA5959;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(250, 89, 89, 0.15);
}

.btn-danger:hover, .btn-danger:active {
  border: 2px solid #FA5959;
  background-color: white;
  color: #FA5959;
  font-weight: 500;
}

.btn-grey {
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgba(241, 225, 225, 0.6784313725);
  font-weight: 500;
  color: #707070;
  padding: 0.8rem 1.6rem;
  box-shadow: 0 0.5rem 1rem rgba(137, 137, 137, 0.15);
}

.btn-grey:hover, .btn-grey:active {
  border: 1px solid #898989;
  background-color: transparent;
}

.btn-menu {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 5rem;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
}

#menuOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 32, 0.85);
  z-index: 40;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.toggle-link {
  font-weight: 400;
  padding: 2rem 1rem;
  letter-spacing: 0.2rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.399);
}

.social-icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons a {
  color: white;
  margin: 0 10px;
}

.title-section, .subtitle-section {
  color: #080239;
  font-weight: 600;
  letter-spacing: 0 0.8rem;
  line-height: 1.1;
}

.title-section {
  font-size: 3rem;
}

.subtitle-section {
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
}

.text-section {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subtext-section {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
}

.nav-link:hover, .nav-link:active {
  color: #FA5959;
}

.container-hero {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
}

.rectangulo {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 800px;
  height: 300px;
  background-color: rgb(82, 101, 225);
  border-radius: 150px;
  z-index: 0;
}

.image {
  position: relative;
  display: block;
  height: auto;
  z-index: 1;
}

.nav-tabs {
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.tab-link {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #898989;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tab-link.active {
  border-bottom: 3px solid red;
  color: #080239 !important;
  font-weight: 500;
}

.tab-item {
  max-width: 800px;
  justify-content: center;
  border: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 22rem;
}

.card-1 {
  margin-top: 0;
}

.card-2 {
  margin-top: 40px;
}

.card-3 {
  margin-top: 80px;
}

img {
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card-img-top {
  width: 5rem;
  max-width: 100%;
}

.card-title {
  font-size: 1.1rem;
  color: #080239;
  margin-top: 1.5rem;
}

.card-title:hover, .card-title:active {
  color: #5265E1;
}

.card-text {
  font-size: 0.9rem;
  color: #898989;
  margin-bottom: 0;
}

.container-faq {
  margin-top: 10rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-item {
  border: none;
  width: 100%;
}

.accordion-button {
  border-bottom: 0.1rem solid rgba(215, 215, 215, 0.7);
}

.accordion-button {
  font-size: 0.9rem;
  color: #080239;
}

.accordion-button:hover, .accordion-button:active {
  color: #FA5959;
}

.accordion-button:not(.collapsed), .accordion-button:focus {
  background-color: white;
  box-shadow: none;
}

.accordion-body {
  color: #898989;
  font-size: 0.9rem;
  line-height: 1.8;
}

.form-container {
  background-color: #5265E1;
  color: white;
  margin-bottom: 0;
}

.form-input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:active, .form-input:focus {
  border: 2px solid #FA5959;
  background-color: white;
}

.form-text {
  color: white;
  letter-spacing: 0.5rem;
}

.input-alert {
  position: relative;
  padding: 0.6rem 1rem;
  background-color: #FA5959;
  border: var(--bs-alert-border);
  border-radius: 8px;
  width: 100%;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 500;
}

.footer {
  background-color: #080239;
  color: white;
  margin: 0;
}

@media (min-width: 576px) {
  .container {
    padding: 2rem 1rem;
  }
  .title-section {
    font-size: 2rem;
  }
  .subtitle-section {
    font-size: 1.5rem;
  }
  .text-section {
    font-size: 1rem;
  }
  .container-hero {
    max-width: 100%;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .btn-menu {
    padding: 0.5rem calc(1rem + 1vw);
  }
  .social-icons {
    bottom: 10px;
  }
  .card {
    margin-bottom: 1rem;
  }
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
