@import "/bootstrap-5.3.3-dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Colores
$primary: #5265E1;
$secondary: #FA5959;
$tertiary: #d3d3d3;
$font-active: #4e4e4e;
$font-title: #080239;
$font-text: #898989;;

// Fontes
$principal: "Rubik", sans-serif;

// Padding & Margin
.container {
  padding: 4rem 1.2rem;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  color: $font-text;
}

// Botones

.btn-primary {
  background-color: $primary;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  color: white;
  box-shadow: 0 .5rem 1rem rgba($primary, .15);
}

.btn-primary:hover {
  border: 2px solid $primary;
  background-color: transparent;
  color: $primary;
}

.btn-danger {
  background-color: $secondary;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba($secondary, .15);
}

.btn-danger:hover {
  border: 2px solid $secondary;
  background-color: white;
  color: $secondary;
  font-weight: 500;
}

.btn-grey {
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #f1e1e1ad;
  font-weight: 500;
  color: #707070;
  padding: 0.8rem 1.6rem; 
  box-shadow: 0 .5rem 1rem rgba($font-text, .15);
}

.btn-grey:hover {
  border: 2px solid $font-text;
  background-color: transparent;
}

// Titulo y texto - Section

.title-section, .subtitle-section {
  color: $font-title;
  font-weight: 600;
  letter-spacing: 0.0.8rem;
  line-height: 1.1;
}

.title-section {
  font-size: 3rem;
}

.subtitle-section {
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
}

.text-section {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subtext-section {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

// Nav

.nav-link {
  font-size: 1rem;
  font-weight: 400;
}

.nav-link:hover {
  color: $secondary;
}

// Hero

.container-hero {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
}

.rectangulo {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 600px;
  height: 300px;
  background-color: rgba(82, 101, 225);
  border-radius: 150px;
  z-index: 0;
}

.image {
  position: relative;
  display: block;
  max-width: 36rem;
  height: auto; 
  z-index: 1;
}

// Tabs

.tab-box {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-tabs {
  border: none;
  border-bottom: 1px solid $tertiary;
}

.tab-link {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: $font-text;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.tab-link.active {
  border-bottom: 3px solid red;
  color: $font-title !important;
  font-weight: 500;
}

.tab-item {
  max-width: 800px;
  justify-content: center;
  border: none;
}

// Cards

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 22rem;
}

.card-1 {
  margin-top: 0;
}

.card-2 {
  margin-top: 40px;
}
.card-3 {
  margin-top: 80px; 
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card-img-top {
  width: 5rem;
}

.card-title {
  font-size: 1.1rem;
  color: $font-title;
  margin-top: 1.5rem;
}

.card-title:hover {
  color: $primary;
}

.card-text {
  font-size: 0.9rem;
  color: $font-text;
  margin-bottom: 0;
}

// FAQ

.container-faq {
  margin-top: 10rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-item {
  border: none;
  width: 620px;
}

.accordion-button {
  border-bottom: 0.1rem solid rgba(215, 215, 215, 0.7);
}

.accordion-button {
  font-size: 0.9rem;
  color: $font-title;
}

.accordion-button:hover {
  color: $secondary;
}

.accordion-button:not(.collapsed), .accordion-button:focus {
  background-color: white;
  box-shadow: none;
}

.accordion-body {
  color: $font-text;
  font-size: 0.9rem;
  line-height: 1.8;
}

// Form

.form-container {
  background-color: $primary;
  color: white;
  margin-bottom: 0;
}

.form-input {
  width: 70%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-text {
  color: white;
  letter-spacing: 0.5rem;
}

// Footer

.footer {
  background-color: $font-title;
  color: white;
  margin: 0;
}